.tooltip {
  position: absolute;
  background-color: black;
  fill:black;
  padding: 5px;
  font-size: 12px;
}

.container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  background-color: rgba(192, 192, 192, 0.5);
}
#plus, #minus{
  margin-bottom: 30px;
}

.extension-options {
  position: fixed;
  top: 30%;
  right: 0;
  padding: 3px;
  text-align: left;
  background-color: rgba(192, 192, 192, 0.5);
  display: flex;
  flex-direction: column;
}

svg {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

svg svg {
  position: absolute;
}

#accessibility_container {
  position: fixed;
  bottom: 30px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  background-color: rgba(192, 192, 192, 0.5);
}

#font_size {
  margin-right: 10px;
}

#font_color {
  margin-right: 10px;
}

#font_type {
  margin-right: 10px;
}

#plus_button,
#minus_button,
#font_color_selector,
#font_type_selector {
  font-size: 16px;
  /* padding: 5px; */
  /* border-radius: 5px; */
  background-color: #ccc;
  cursor: pointer;
}

#plus_button:hover,
#minus_button:hover,
#font_color_selector:hover,
#font_type_selector:hover {
  background-color: #aaa;
}

#font_color_selector {
  display: flex;
}

#font_color_selector label {
  margin-right: 5px;
}

#font_color_selector select {
  font-size: 16px;
  /* padding: 5px; */
  /* border-radius: 5px; */
  background-color: #ccc;
}

#font_type_selector {
  display: flex;
}

#font_type_selector label {
  margin-right: 5px;
}

#font_type_selector select {
  font-size: 16px;
  /* padding: 5px; */
  /* border-radius: 5px; */
  background-color: #ccc;
}
